.panel {
    position: absolute;
}

.panel-heading:hover {
    cursor: move;
}

#windows-system .panel-body{
    height: 100%;
    padding: 0;
}

.container {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.container .svg-content-responsive {
    position: absolute;
    top: 10px;
    left: 0;
}

.panel-heading .btn
{
    float: right;
}

.fa-window-maximize{
    background: white;
    border-radius: 40%;
    height: 0.9em;
    position: absolute;
    clip: rect(2px,30px,26px,0px);
}

.fa-window-maximize:hover
{
    cursor: move;
}

i{
    position: absolute;
}

a{
    cursor: pointer;
}