.bar-chart text {
    font: 16px sans-serif;
    color: white;
}
.bar-chart text.value {
    font-size: 120%;
    fill: white;
}

.bar-chart text.label {
    font: 16px sans-serif;
    fill: black;
}

.bar-chart .axisHorizontal path{
    fill: none;
}

.bar-chart .axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar-chart .bar {
    fill-opacity: .9;
}

