.bar-chart text {
    font: 30px sans-serif;
    color: black;
}

.bar-chart text.value {
    font-size: 30px;
    fill: black;
}

.bar-chart text.label {
    font: 30px sans-serif;
    fill: black;
}

.bar-chart .axisHorizontal path {
    fill: none;
}

.bar-chart .axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
}

.bar-chart .bar {
    fill-opacity: .9;
}