.rollcalls-heatmap rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

.rollcalls-heatmap text.mono {
    font-size: 15pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

.rollcalls-heatmap .axis path {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
}

.rollcalls-heatmap .axis line{
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-dasharray: 5;
}

.rollcalls-heatmap .tick text{
    font-size: 12px;
}