.rollcalls-heatmap rect.bordered {
    stroke: #E6E6E6;
    /*stroke-width:2px;*/
    cursor: pointer;
}

.rollcalls-heatmap text.mono {
    font-size: 15pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

.rollcalls-heatmap .axis path {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
}

.rollcalls-heatmap .axis line{
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-dasharray: 5;
}

.rollcalls-heatmap .tick text{
    font-size: 10px;
}

#tipDiv .arc text {
    font: 11px sans-serif;
    fill: white;
    text-anchor: middle;
    font-weight: bold;
}

#tipDiv .arc path {
    stroke: #fff;
    stroke-width: 2px;
}

.rollCall {
    opacity: 0.15;
}

.rollCall.selected {
    opacity: 1 !important;
}

.rollCall.hovered {
    opacity: 0.4;
}