.scatter-plot rect {
    fill: transparent;
}

.scatter-plot .axis path,
.scatter-plot .axis line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
}

.scatter-plot .axisLine {
    fill: none;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 2px;
}

.scatter-plot :focus {
    outline: 0;
}

.scatter-plot .legend {
    cursor: pointer;
}

.scatter-plot .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.node {
    stroke: #E0E0E0;
    stroke-width: 1px;
    opacity: 0.15;
    cursor: pointer;
}

.node.selected {
    opacity: 1 !important;
}

.node.hovered {
    opacity: 0.4;
}