.scatter-plot rect {
    fill: transparent;
}

.scatter-plot .axis path,
.scatter-plot .axis line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
}

.scatter-plot .axisLine {
    fill: none;
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 2px;
}

.scatter-plot .dot {
    fill-opacity: 1;
}

.scatter-plot :focus {
    outline: 0;
}

.scatter-plot .dot {
    cursor: pointer;
}