.timeline{
    width:99%;
    margin-top: 0px;
    margin-left: auto ;
    margin-right: auto ;
}

.timeline .background {
    fill: lightgrey;
}

.timeline  .foreground {
    fill: darkgrey;
}

.timeline .partiesLabel{
    fill:grey;
    writing-mode: tb;
    glyph-orientation-vertical: 0;
    font-size:small;
}

.timeline-crop{
    width:99%;
    margin-top: 0px;
    margin-left: auto ;
    margin-right: auto ;
}

.timeline-crop .background {
    fill: lightgrey;
}

.timeline-crop  .foreground {
    fill: darkgrey;
}

.timeline-crop .partiesLabel{
    fill:grey;
    writing-mode: tb;
    glyph-orientation-vertical: 0;
    font-size:xx-large;
}

/*.timeline-crop .deputies-behave rect
{
    stroke-width: 3;
    stroke: rgb(0,0,0);
}*/

.timeline .brush rect.extent {
    fill: darkgrey;
    fill-opacity: .125;
}

.timeline .brush .resize path {
    fill: #eee;
    stroke: #666;
}