h2 {
    margin-left: 2%;
    display: inline-block;
}

#navbar #resetBtn, #navbar #match {
    margin-right: 30px;
    float: right;
    margin-top: 20px;
}

#selectLabel {
    margin-left: 5%;
}

#navbar {
    margin-bottom: 20px;
}

.panel {
    position: absolute;
}

.panel-heading:hover {
    cursor: move;
}

.panel-heading .btn-group {
    float: right;
}

.panel-heading .btn-group .dropdown-menu {
    cursor: auto;
    float: right;
    min-width: 450px;
}

#windows-system .panel-body{
    height: 100%;
    padding: 0;
}

#windows-system{
    width:100%;
    height: 100%;
    transition: margin-left .5s;
}

#windows-system .slider.slider-horizontal.slider-k-means{
    width:100%;
}


.container {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 200%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.container .svg-content-responsive {
    position: absolute;
    top: 30px;
    left: 0;
}

.panel-heading .btn
{
    float: right;
}

.panel-subtitle {
    margin-left: 34px;
    font-size: 14px;
}

i{
    position: absolute;
}

a{
    cursor: pointer;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.panel-heading .dropdown-menu>li{
    padding: 3px 20px;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    box-shadow: -3px 3px 15px #888888;
    text-align: center;
    z-index: 9999;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.toolTipHeatMap {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    max-width: 350px;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    box-shadow: -3px 3px 15px #888888;
    text-align: justify;
    z-index: 9999;
    line-height: 1;
    font-weight: normal;
    font-size: 11px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.toolTipCluster{
    z-index: 9998;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.panel .modal {
    display:    none;
    position:   relative;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.panel.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.panel.loading .modal {
    display: block;
}

#loading {
    height: 200%;
    width: 100%;
    z-index: 9999;
    position: absolute;
    top: 0;
    visibility: hidden;
}
#loading #greyScreen{
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.2;
}

#loading .gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
    color: white;
    text-align: center;
    font-size: xx-large;
}

/* CSS for Datepicker div */
.input-daterange
{
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
    margin-bottom: 10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    margin-top: 10px;
    left: 0;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: #ccc;
  }

.btn-xlarge {
padding: 18px 28px;
font-size: 22px;
line-height: normal;
-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
        border-radius: 8px;
}

.modal-body {
    padding-left: 30%;
    padding-right: 30%;
}

/* Two image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.flag {
    cursor:pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #0a0101;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidebar h2 {
    position: absolute;
    top: 0;
    margin-left: 10px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

.fa-window-maximize{
    background: white;
    border-radius: 40%;
    height: 0.9em;
    position: absolute;
    clip: rect(2px,30px,26px,0px);
}

.fa-window-maximize:hover
{
    cursor: move;
}

.custom-icon {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    padding-left: 24px;
    -webkit-font-smoothing: antialiased;
}

.title-icon {
    margin-right: 5px;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
}

.minimized-icon {
    position: absolute;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    cursor:move;
}

.icon-scatter-plot {
    background: url("https://img.icons8.com/material-rounded/24/000000/scatter-plot.png");
}

.icon-scatter-plot.minimized-icon {
    background-color: white;
}

.icon-time-line {
    background: url("https://img.icons8.com/material-rounded/24/000000/web-analystics.png");
}

.icon-time-line.minimized-icon {
    background-color: white;
}

.icon-chamber-infographic {
    background: url("../images/icons/chamber-infographic-icon.png");
}

.icon-chamber-infographic.minimized-icon {
    background-color: white;
}

.icon-network-graph {
    background: url("../images/icons/network-graph-chart-icon.png");
}

.icon-network-graph.minimized-icon {
    background-color: white;
}

.icon-map-roll-calls {
    background: url("../images/icons/map-roll-calls-icon.png");
}

.icon-map-roll-calls.minimized-icon {
    background-color: white;
}

.icon-cropped-time-line {
    background: url("../images/icons/cropped-time-line-icon.png");
}

.icon-cropped-time-line.minimized-icon {
    background-color: white;
}

.icon-bar-chart {
    background: url("../images/icons/bar-chart-icon.png");
}

.icon-bar-chart.minimized-icon {
    background-color: white;
}

.icon-force-layout {
    background: url("../images/icons/force-layout-icon.png");
}

.icon-force-layout.minimized-icon {
    background-color: white;
}

.hierarchy-white-transparent-icon {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url("../images/icons/hierarchy-icon-white-transparent.png");
}

.hierarchy-black-transparent-icon {
    top: 0px;
    background: url("../images/icons/hierarchy-black-transparent.png");
}

.panel::after{
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px 2px rgb(0 0 0 / 30%);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.panel:hover::after {
      opacity: 1;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.panel.panel-selected::after {
    -webkit-animation: fadein 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) alternate 2;
    -moz-animation: fadein  0.6s cubic-bezier(0.165, 0.84, 0.44, 1) alternate 2;
    animation: fadein  0.6s cubic-bezier(0.165, 0.84, 0.44, 1) alternate 2;
}

.panel.panel-selected:hover::after {
    -webkit-animation: fadein 0s cubic-bezier(0.165, 0.84, 0.44, 1) alternate 2;
    -moz-animation: fadein  0s cubic-bezier(0.165, 0.84, 0.44, 1) alternate 2;
    animation: fadein  0s cubic-bezier(0.165, 0.84, 0.44, 1) alternate 2;
}